.container {
  margin: 0 100px;
}

.heading {
  text-align: center;
  font-weight: 700;
  margin: 20px;
  font-size: 40px;
  margin-bottom: 60px;
}

.input {
  border: none;
  border-bottom: 1px solid #868686;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: black;
  width: 400px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.input_label {
  font-weight: 600;
  margin-top: 35px;
  font-family: "Montserrat", sans-serif;
  color: #029843;
}

.icon_input_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.icon_container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.icon_container img {
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 30px;
  }

  .heading {
    margin-bottom: 30px;
  }

  .input {
    width: 100%;
  }

  .icon_container {
    width: 120px;
    height: 120px;
    margin-top: 50px;
  }

  .icon_input_container {
    width: 100%;
  }
}

.footsteps_container {
  margin-top: 50px;
}

.footsteps_heading {
  font-weight: 600;
  font-size: 30px;
}

.footsteps_counter_container {
  height: 50px;
  width: 150px;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 30px;
}

.footsteps_counter_input {
  width: 60px;
}

.footsteps_counter_container h4 {
  line-height: 32px;
  font-weight: 600;
}

/* Add Footsteps */
