#switch .ant-switch-checked {
  background-color: #029843;
}

.container {
  margin: 0 100px;
}

.heading {
  text-align: center;
  font-weight: 700;
  margin: 20px;
  font-size: 40px;
  margin-bottom: 60px;
}

.input {
  border: none;
  border-bottom: 1px solid #868686;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: black;
  width: 400px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.checkbox_input {
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  color: #029843;
}

.input_label {
  font-weight: 600;
  margin-top: 35px;
  font-family: "Montserrat", sans-serif;
  color: #029843;
}

.icon_input_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.icon_container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.icon_container img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.add_image_btn {
  background: #029843;
  font-family: "Montserrat";
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  margin: 20px 0 0 20px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 30px;
  }

  .heading {
    margin-bottom: 30px;
  }

  .input {
    width: 100%;
  }

  .icon_container {
    width: 120px;
    height: 120px;
    margin-top: 50px;
  }

  .icon_container img {
    width: 120px;
    height: 120px;
  }

  .icon_input_container {
    width: 100%;
  }
}

.footsteps_container {
  margin-top: 50px;
}

.footsteps_heading {
  font-weight: 600;
  font-size: 30px;
  margin-top: 100px;
}

.footsteps_counter_container {
  height: 50px;
  width: 150px;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 30px;
}

.footsteps_counter_input {
  width: 60px;
}

.footsteps_counter_container h4 {
  line-height: 32px;
  font-weight: 600;
}

/* Add Footsteps */

.footstep_container {
  padding: 30px 60px 40px 60px;
  border-radius: 40px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 50px 0;
}

.footstep_count {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  font-weight: 700;
}
.footsteps_new_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px #545353 dashed;
  padding: 50px 0;
  margin: 50px;
}

.footsteps_new {
  display: inline-block;
  background: #029843;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  border-radius: 24px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  transition: transform 0.2s;
  text-align: center;
}

.footsteps_new:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footstep_remove_btn {
  text-align: right;
  font-weight: 700;
}

.footstep_remove_btn:hover {
  cursor: pointer;
}

.footstep_counter {
  font-size: 25px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.path_submit_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 80px 0;
}

.path_submit {
  background: #029843;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  border-radius: 24px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  transition: transform 0.2s;
  text-align: center;
  width: 40%;
}

.path_submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.error_message {
  text-align: center;
  color: #fe5e44;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .footstep_container {
    padding: 30px 20px;
  }

  .footsteps_new_container {
    margin: 50px 0;
    padding: 50px 10px;
  }

  .path_submit {
    width: 100%;
  }
}

/* Edit Path Styles */

.deletePath {
  background: #fe5e44;
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  transition: transform 0.2s;
  cursor: pointer;
}

.deletePath:hover {
  color: white;
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .deletePath {
    margin: 30px 0 10px 0;
  }
}
