.footstepsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 10px 50px;
  opacity: 1;
  box-sizing: border-box;
  transition: height 200ms 0ms, opacity 200ms 200ms;
  height: 500px;
}

.footstepsContainer::-webkit-scrollbar {
  display: none;
}

.footstepsHide {
  transition: height 200ms 200ms, opacity 200ms 0ms;
  opacity: 0;
  height: 0px;
}

.cardContainer {
  flex: 0 0 auto;
}

.cardContainer {
  width: 250px;
  height: 380px;
  margin: 60px 20px 10px 20px;
  border-radius: 40px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.detailsContainer {
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  height: 180px;
}

.description {
  padding: 10px 10px 10px 10px;
  text-align: justify;
  font-size: 15px;
}

.typeContainer {
  height: 30px;
  padding: 0 30px;
}

.typeImage {
  width: 30px;
  height: 30px;
  margin-bottom: 0;
}

.typeTitle {
  line-height: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.levelContainer {
  margin-top: 20px;
  padding: 0 30px;
  font-family: "Montserrat", sans-serif;
}

.levelTitle {
  font-size: 16px;
  font-weight: 700;
}

.levelType {
  text-align: right;
  font-size: 16px;
}

.resourceLink {
  padding: 0 30px;
  margin-top: 30px;
}

.resourceLink:hover {
  cursor: pointer;
}

.linkArrow {
  text-align: right;
}

.learningPathsContainer {
  margin-top: 50px;
}

.learningPathHeading {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 60px;
}

.learningPathEmpty img {
  width: 300px;
  opacity: 0.8;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.learningPathEmpty h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
}

.learningPathCard {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 0 30px 30px 30px;
  border-radius: 50px;
  cursor: pointer;
}

.editBtn {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
  padding: 5px 8px;
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 0.2s;
}

.editBtn:hover {
  transform: scale(1.4);
}

.pathIcon {
  margin-bottom: 0;
  width: 150px;
}

.pathExpand {
  text-align: center;
  font-size: 30px;
  line-height: 150px;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.expandRotate {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.pathHeading {
  padding: 10px;
}

.timelineDot {
  display: block;
  width: 10px;
  height: 10px;
  background: #029843;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.timelineBox {
  width: 260px;
  background: #029843;
  height: 5px;
  position: relative;
  top: -7.5px;
  left: 140px;
}

@media only screen and (max-width: 768px) {
  .footstepsContainer {
    margin: 10px 0;
  }

  .pathIcon {
    margin-top: 40px;
  }

  .learningPathHeading {
    font-size: 30px;
  }

  .learningPathCard {
    margin: 15px 0 30px 0;
    padding: 0 10px;
    width: 100%;
  }

  .pathIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .pathExpand {
    line-height: 90px;
  }
}
