.navContainer {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.logo img {
  width: 60px;
}

.mobile_toggle {
  display: none;
  float: right;
  border: none;
  font-size: 25px;
  margin-top: 3px;
  padding-right: 5px;
}

.mobile_toggle img {
  width: 25px;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .navDesktop {
    display: none;
  }

  .mobile_toggle {
    display: inline-block;
  }

  .navItem {
    text-align: center;
    font-family: "Arvo", serif;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
