.menuItems {
  font-size: 20px;
  margin: 0 40px;
  font-family: "Montserrat", sans-serif;
  display: inline;
  float: right;
  line-height: 60px;
  font-weight: 600;
}

.menuContainer {
  margin-top: -14px;
}

.menuItems a {
  color: #3f3f3f;
}

.menuItems a:hover {
  color: black !important;
}

.menuBtn {
  background-color: black;
  border-radius: 40px;
}

.menuBtn:hover {
  background-color: black !important;
  border-bottom: 2px solid black !important;
}

.menuBtn a:hover {
  color: white !important;
}

.menuBtn a {
  color: white !important;
}

.menuProfile {
  margin: 0 0 0 40px;
  display: inline;
  float: right;
}

.menuProfile:hover {
  border-bottom: none !important;
}

.menuProfileImg {
  width: 60px;
  border-radius: 50%;
}

.menuProfileImg:hover {
  cursor: pointer;
}

.dropDown {
  position: absolute;
  width: 400px;
  height: 140px;
  right: 0px;
  top: 90px;
  z-index: 99;
  font-size: 16px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  background: white;
}

.dropDownShow {
  opacity: 1;
}

.dropDownInfo {
  height: 90px !important;
}

.dropDownInfo img {
  width: 90px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropDownInfo h3 {
  font-weight: 700;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 2px;
}

.profileBtn {
  margin-left: 15px;
  padding: 0 10px;
  background: #029843;
  display: inline-block;
  border-radius: 5px;
  line-height: 30px;
  height: 30px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.logoutBtn {
  float: right;
  margin-right: 5px;
  background: #fe5e44;
  border-radius: 5px;
  line-height: 30px;
  padding: 0 10px;
  height: 30px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.profileBtn:hover {
  cursor: pointer;
}

.logoutBtn:hover {
  cursor: pointer;
}

.dropDownInfo h5 {
  margin-left: 15px;
}

@media only screen and (max-width: 768px) {
  .menuBtn {
    padding-top: 30px;
  }
}
