.cardContainer {
  height: 200px;
  margin-top: 50px;
  cursor: pointer;
}

.iconContainer {
  position: relative;
  width: 120px;
  height: 120px;
}

.icon {
  position: relative;
  top: 40px;
  left: 40px;
  border-radius: 50%;
  opacity: 1;
  z-index: 9;
}

.contentContainer {
  height: 100%;
  padding: 20px 0px 20px 90px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.pathExpand {
  text-align: center;
  font-size: 30px;
  line-height: 150px;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.expandRotate {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.footstepsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 10px 50px;
  opacity: 1;
  box-sizing: border-box;
  transition: height 200ms 0ms, opacity 200ms 200ms;
  height: 500px;
}

.footstepsContainer::-webkit-scrollbar {
  display: none;
}

.footstepsHide {
  transition: height 200ms 200ms, opacity 200ms 0ms;
  opacity: 0;
  height: 0px;
}

.pathDescription {
  position: relative;
  height: 160px;
}

.pathDescription h1 {
  font-weight: 600;
}

.pathInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
}

.pathInfo p {
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.pathInfo p span {
  font-weight: 700;
}

.mobCardContainer {
  display: none;
}

.resultPath {
  margin-top: 50px;
}

.resultPath h1 {
  font-weight: 700;
}

.resultFootsteps {
  margin-top: 80px;
}

.resultFootsteps h1 {
  font-weight: 700;
}

.noResults {
  margin: 80px 0;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.filterCard {
  height: 50px;
  width: 220px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

.filterArrow {
  width: 20px;
  line-height: 50px;
  margin-right: 10px;
  transition: transform 0.2s;
}

.filterArrow:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.filterArrowContainer {
  margin-top: 25px;
}

.filterCard h4 {
  margin-top: 5px;
  font-weight: 700;
}

.filterCard h4 span {
  font-weight: 400;
}

.filterCardFootsteps {
  height: 50px;
  width: 310px;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 30px;
}

.filterCardFootsteps h4 {
  line-height: 30px;
  font-weight: 700;
}

.filterCardFootsteps h4 span {
  font-weight: 500;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .cardContainer {
    display: none;
  }

  .footstepsContainer {
    margin: 10px 0;
  }

  .mobCardContainer {
    display: block;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 50px;
  }

  .mobCardContainer h1 {
    font-weight: 600;
  }

  .mobCardContainer h3 {
    font-size: 16px;
  }

  .mobInfoBy p {
    margin-bottom: 0;
  }

  .mobInfoVotes {
    text-align: right;
    margin-bottom: 0;
  }

  .mobCardContainer span {
    font-weight: 700;
  }
}
