input[type="search"] {
  border: none;
  text-align: center;
  flex: 1 1 auto;
  margin: 0 20px;
  font-size: 20px;
}

input[type="search"]:focus {
  outline: none;
}

.searchBtn {
  border: none;
  color: black;
  margin: 5px;
  padding: 0 5px;
  border: 2px solid #000;
  background-color: black;
  color: white;
  border-radius: 25px;
  width: 140px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.searchBtn:focus {
  outline: none;
}

.searchBtn:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #000;
  width: 100%;
  border-radius: 25px;
  font-family: "Montserrat", serif;
}

@media only screen and (max-width: 768px) {
  input[type="search"] {
    font-size: 16px;
    margin: 0 0 0 20px;
  }

  .searchBtn {
    font-size: 16px;
  }
}

.errorText {
  color: #fe5e44;
  text-align: center;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
