.step0_container {
  margin: 0px 50px;
}

.step0_img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.step0_content {
  padding: 50px 0;
}

.step0_content h1 {
  font-weight: 700;
  font-size: 45px;
}

.step0_content h2 {
  font-size: 36px;
  font-weight: 600;
}

.step0_content h3 {
  margin-top: 80px;
}

.step0_content div {
  background: #029843;
  color: white;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  transition: transform 0.2s;
  font-family: "Montserrat", sans-serif;
}

.step0_content div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* ! Step 1 */

.input {
  border: none;
  border-bottom: 1px solid #868686;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: black;
  width: 400px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.input_label {
  font-weight: 600;
  margin-top: 35px;
  font-family: "Montserrat", sans-serif;
  color: #029843;
}

.step1_container {
  margin: 0 100px;
  margin-bottom: 50px;
}

.steps_content {
  padding-top: 30px;
}

.steps_content h1 {
  font-size: 100px;
  font-weight: 700;
  display: inline-block;
  color: #029843;
}

.steps_content h2 {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 120px;
  opacity: 0.5;
}

.steps_content h3 {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.5;
}

.username_error {
  color: #fe5e44;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.stepBtn {
  background: #029843;
  color: white;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  transition: transform 0.2s;
  font-family: "Montserrat", sans-serif;
}

.stepBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.step_error {
  color: #fe5e44;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

/* ! Step 2 */

.step2_container {
  margin: 0 100px;
}

@media only screen and (max-width: 768px) {
  .step0_img {
    width: 100%;
  }

  .step0_container {
    margin: 0px 0px;
  }

  .step0_content {
    padding: 20px;
    margin-bottom: 50px;
  }

  .step0_content h1 {
    font-size: 40px;
  }

  .step0_content h2 {
    font-size: 32px;
  }

  .step0_content h3 {
    margin-top: 40px;
  }

  .step1_container {
    margin: 0 20px;
    margin-bottom: 50px;
  }

  .input {
    width: 90%;
  }

  .steps_content h2 {
    margin-bottom: 30px;
  }

  .steps_content {
    margin-bottom: 70px;
  }
}
