.step0_container {
  margin: 0px 50px;
}

.step0_img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.step0_content {
  padding: 50px 0;
}

.step0_content h1 {
  font-weight: 700;
  font-size: 45px;
}

.step0_content h2 {
  font-size: 36px;
  font-weight: 600;
}

.step0_content h3 {
  margin-top: 80px;
}

.step0_content div {
  background: #029843;
  color: white;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  transition: transform 0.2s;
}

.step0_content div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.input {
  border: none;
  border-bottom: 1px solid #868686;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.input_label {
  font-weight: 600;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .step0_img {
    width: 100%;
  }

  .step0_container {
    margin: 0px 0px;
  }

  .step0_content {
    padding: 20px;
    margin-bottom: 50px;
  }

  .step0_content h1 {
    font-size: 40px;
  }

  .step0_content h2 {
    font-size: 32px;
  }

  .step0_content h3 {
    margin-top: 40px;
  }
}
