.container {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}

.menu {
  text-align: center;
  margin-top: 50px;
}

.menuItem {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: transform 0.2s;
  padding-bottom: 10px;
  max-width: 160px;
  margin-right: 30px;
}

.menuItem:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.active {
  border-bottom: 2px #3f3f3f solid;
}

.followContainer {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.userContainer {
  padding: 20px;
  height: 250px;
}

.userImg {
  border-radius: 50%;
}

.userName {
  text-align: center;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .menuItem {
    font-size: 14px;
    margin-right: 20px;
    width: auto;
  }

  .userContainer {
    padding: 10px;
  }

  .followContainer {
    width: 100%;
  }
}

/* Profile Card Styles */

.profileContainer {
  margin-top: 50px;
}

.profileDetail {
  width: 100%;
  position: relative;
  top: -290px;
  border-radius: 50px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.profileLearningPath h1 {
  font-weight: 700;
  padding: 30px;
  margin-top: 20px;
  width: 100%;
  position: relative;
  top: -290px;
}

.profilePath {
  width: 100%;
  position: relative;
  top: -290px;
  border-radius: 50px;
}

.profileImgContainer {
  position: relative;
  top: -125px;
  left: 50px;
  z-index: 10;
  width: 250px;
}

.profileImg {
  border-radius: 10px;
  width: 250px;
}

.profileInfo {
  padding: 0 0 0 30px;
  margin-left: 300px;
}

.profileInfo h1 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 40px;
}

.profileInfo h2 {
  font-size: 18px;
  font-weight: 600;
  color: #767676;
  margin-bottom: 15px;
}

.profileAbout {
  margin-left: 300px;
  padding: 20px 20px 0 30px;
  min-height: 180px;
}

.skills {
  margin-top: 10px;
}

.skills h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.skill {
  display: inline-block;
  padding: 0 10px;
  border: 1px black solid;
  border-radius: 20px;
  color: black;
  margin: 0 10px 0 0;
  font-size: 10pt;
  margin-bottom: 6px;
}

.social {
  text-align: center;
  margin-top: 0px;
  min-height: 25px;
}

.social_row {
  display: flex;
  justify-content: center;
  align-content: center;
}

.icon {
  font-size: 22px;
}

.userInfo {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.count {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.text {
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
}

.bioContent {
  font-size: 16px;
}

.menuContainer {
  margin-top: -260px;
  width: 100%;
  display: inline-block;
  margin-bottom: 50px;
}

.mobileProfile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobileProfile {
    display: block;
  }

  .desktopProfile {
    display: none;
  }

  .menuContainer {
    margin-top: 20px;
  }

  .profile {
    padding: 40px;
  }

  .mobileProfile {
    margin-top: 80px;
  }

  .profileContainer {
    border-radius: 40px;
    padding: 30px 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }
  .mobileProfileLearningPath h1 {
    font-weight: 600;
    text-align: center;
    padding: 10px;
    width: 100%;
  }
  .avatar {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: -105px;
  }

  .userDetails {
    text-align: center;
  }

  .userDetails h2 {
    margin: 5px;
    padding: 0;
    font-size: 18pt;
    font-weight: 600;
    color: #3f3f3f;
  }

  .userDetails h4 {
    margin: 3px;
    padding: 0;
    font-size: 11pt;
    color: #aaa;
    font-weight: 400;
  }

  .count {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }

  .text {
    font-size: 16px;
    text-align: center;
  }

  .userInfo {
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
  }

  .bio {
    margin-top: 20px;
    padding: 0 20px;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
  }

  .social {
    text-align: center;
    margin-top: 50px;
  }

  .icon {
    font-size: 30px;
    transition: transform 0.2s;
  }

  .icon:hover {
    transform: scale(1.4);
  }

  .skills {
    margin-top: 30px;
    padding: 0 20px;
  }

  .skills h2 {
    text-align: center;
    font-size: 15pt;
    font-weight: 600;
    color: #3f3f3f;
    margin-bottom: 20px;
  }

  .skill {
    display: inline-block;
    padding: 0 10px;
    border: 1px black solid;
    border-radius: 20px;
    color: black;
    margin: 0 5px;
    font-size: 10pt;
    margin-bottom: 6px;
  }
}
