.container {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.userDetails {
  text-align: center;
}

.userDetails h2 {
  margin: 5px;
  padding: 0;
  font-size: 18pt;
  font-weight: 600;
  color: #3f3f3f;
}

.userDetails h4 {
  margin: 3px;
  padding: 0;
  font-size: 11pt;
  color: #aaa;
  font-weight: 400;
}

.count {
  font-size: 14pt;
  font-weight: 700;
  text-align: center;
}

.text {
  font-size: 10pt;
  text-align: center;
}

.userInfo {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
}

.bio {
  margin-top: 40px;
  padding: 0 20px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

.social {
  text-align: center;
  margin-top: 50px;
}

.icon {
  font-size: 30px;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.4);
}
