.menuContainer {
  margin-top: 6px;
}

.navContainer {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.logo img {
  width: 60px;
}

.mobileToggle {
  display: none;
}
