nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

header {
  flex: 0;
  padding: 20px;
}
a {
  color: black;
}

.logo {
  height: 50px;
  margin: 0;
}
